body{
    margin:0;
  }
  header{
    justify-content: space-between;
    background-color: #f7e3e3;
    display: flex;
  }
  nav a {
      float: left;
      text-align: center;
      padding: 25px 10px;
      color: rgb(207, 77, 99);
      text-decoration: none;
  }
  nav a:hover {
      background-color: rgb(241, 211, 217);
  }